{% extends "farm/base.html" %} 
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Employee</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
            -->
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
         
        </div>
      </div>
      <h1>User Details </h1>


    <p>Username: {{object.username}}</p>
    <p>First Name: {{ object.first_name}}</p>
    <p>Last Name: {{ object.last_name}}</p>
    <p>Email: {{ object.email}}</p>
    <!--<p>mobile number: {{ object.mobile_no}}</p>-->



     

      

      
      </main>
  

{% endblock content %}























































































