{% extends "farm/base.html" %} 
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Financial Records</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
             <a <button type="button" class="btn btn-sm btn-outline-secondary" href="{% url "farm-machinery-pdf" %}">Generate farm machinery report</button></a>
          </div>
         
        </div>
      </div>
     
            <h1>Farm machinery List</h1>

            <table class="table table-striped table-dark ">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Machinery Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Identifaication Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Last Serviced</th>
                    <th scope="col">Date of Purchase</th>
                    
                    
                    
                    </tr>
                </thead>
                <tbody>
                    {% for farm_machinery in object_list %}
                    <tr>
                    <td>{{ farm_machinery.machinery_type_verbose }}</td>  
                    <td>{{ farm_machinery.name }}</td>
                    <td>{{ farm_machinery.identification_no }}</td>
                    <td>{{ farm_machinery.machinery_status_verbose }}</td>
                    <td>{{ farm_machinery.last_serviced }}</td>
                    <td>{{ farm_machinery.date_of_purchase }}</td>
                    <td>
                        
                        <a class="btn btn-primary" role="button"href=" {% url "farm-machinery-details" farm_machinery.id %}">details</a>
                        <a class="btn btn-primary" role="button" href="{% url "farm-machinery-update" farm_machinery.id %}">Edit</a>
                         <a class="btn btn-primary" role="button"href=" {% url "farm-machinery-delete" farm_machinery.id %}">delete</a>
                  
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links"> 
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
                </span>
            </div>

</main>
  

{% endblock content %}

