{% extends "farm/base.html"%}
{% load crispy_forms_tags %}

{% load i18n %}

 {% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Employee</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
             <a class="nav-link "   href="{% url 'fertilizer_list' %}"  ><button type="button" class="btn btn-sm btn-outline-secondary">Fertilizer List</a>
             
          </div>
          
        </div>
      </div>

            <h1> fertilizer form </h1>
            <form method="post">
            
                {% csrf_token %}
                

                {{ form | crispy}}

                <input type="submit" value="Submit" />

            </form>
     </main>
  
{% endblock content %}

