{% extends "farm/base.html" %} 
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Fertilizer Records</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <a <button type="button" class="btn btn-sm btn-outline-secondary" href="{% url "fertilizer-pdf" %}">Generate fertilizer report</button></a>
          </div>
          
         
        </div>
      </div>
     
            <h1>fertilizer</h1>

            <table class="table table-striped table-dark ">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Crop used for</th>
                    
                    
                    
                    </tr>
                </thead>
                <tbody>
                    {% for fertilizer in object_list %}
                    <tr>
                    
                    <td>{{ fertilizer.fname }}</td>
                    
                    <td>{{ fertilizer.quantity }}</td>
                    
                    <td>{{ fertilizer.used_for_crop }}</td>
                    <td>
                        
                        <a class="btn btn-primary" role="button"href="#">detail</a>
                        <a class="btn btn-primary" role="button"href="{% url "fertilizer_update" fertilizer.id %}">edit</a>
                        <a class="btn btn-primary" role="button"href="{% url "fertilizer_delete" fertilizer.id %}">delete</a>
                        
                  
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links"> 
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
                </span>
            </div>

</main>
  

{% endblock content %}

