{% extends "farm/base.html" %} 
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Financial Records</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <!--<button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
            -->
          </div>
         
        </div>
      </div>
     
            <h1>financial Records Lists</h1>

            <table class="table table-striped table-dark ">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Receipt Number</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    
                    
                    
                    </tr>
                </thead>
                <tbody>
                    {% for finance in object_list %}
                    <tr>
                    
                    <td>{{ finance.receipt_no }}</td>
                    
                    <td>{{ finance.Amount }}</td>
                    
                    <td>{{ finance.date_of_payment }}</td>
                    <td>
                        
                        <a class="btn btn-primary" role="button"href="{% url "financialRecords_delete" finance.id %}">delete</a>
                  
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links"> 
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
                </span>
            </div>

</main>
  

{% endblock content %}

